.ticket-list {
    flex: 1;
    margin-top: 32px;
    overflow: auto;
    padding-right: 32px
}

.ticket-card {
    position: relative;
    margin-bottom: 8px;
    cursor: pointer
}

.ticket-card-container {
    display: flex;
    align-items: flex-end;
    margin-top: 10px
}

.ticket-card-point {
    margin: 0 5px;
}

.ticket-icon {
    position: absolute;
    right: 0
}

.ticket-label {
    position: absolute;
    left: 0;
    width: 4px;
    border-radius: 0 4px 4px 0
}